@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

    $red:#C3073F;
    $black:#1A1A1D;
    $white:#fafafa;
    $plum:#950740;
    $maroon:#6F2232;

body,main{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-family: 'Clash Display', Impact;
}