@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body, main {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Clash Display", Impact;
}

.btn {
  background-image: linear-gradient(to right, #C3073F, #dc0847);
  background-size: 300%;
  background-position-x: 0;
  background-position-y: 0;
  color: #1A1A1D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-position 500ms;
  border: 0;
  font: inherit;
}
.btn:hover {
  background-position-x: 100%;
  background-position-y: 100%;
}

input:where([type=text], [type=password]) {
  outline: 2px solid #C3073F;
  font: inherit;
  border-radius: 10px;
  color: #fafafa;
  padding: 0.5rem;
  border: 0;
  background-color: #1A1A1D;
  transition: background-color 200ms;
}
input:where([type=text], [type=password])::-moz-placeholder {
  color: #fafafa;
}
input:where([type=text], [type=password])::placeholder {
  color: #fafafa;
}
input:where([type=text], [type=password]):focus {
  background-color: #323238;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  color: #fafafa;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 0.1rem;
}
nav h1 {
  flex-grow: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
nav ul li .nav-link {
  color: #fafafa;
  text-decoration: none;
  position: relative;
}
nav ul li .nav-link:hover::after {
  transform: scaleX(0.8);
}
nav ul li .nav-link::after {
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 100vmax;
  width: 100%;
  background-color: #950740;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 200ms;
  transform-origin: left;
}
nav ul li button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0;
}
nav ul li .nav-btn {
  background-color: #C3073F;
  color: #fafafa;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 200ms;
}
nav ul li .nav-btn:hover {
  background-color: #dc0847;
}

body {
  background-color: #1A1A1D;
  color: #fafafa;
  background-color: #1A1A1D;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 85.6px 1fr;
}

main {
  padding: 1rem;
}

main {
  display: grid;
  place-items: center;
  border-radius: 10px;
  padding-inline: 0;
  min-height: 550px;
}
main .main {
  padding-inline: 1rem;
}
main .main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main form button.btn {
  margin-top: 10px;
}
main .main form .form-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.2rem;
  width: 20rem;
}
main .main form .form-content .multiple-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
main .main form .form-content summary {
  padding: 0.5rem;
  background-color: #C3073F;
  border-radius: 10px;
  margin-bottom: 5px;
}
main .main form .form-content .multiple-select-dropdown {
  position: absolute;
  min-width: 100%;
  border-radius: 10px;
  background-color: #950740;
}
main .main form .form-content label {
  margin: 0;
  display: block;
  transition: background-color 100ms;
}
main .main form .form-content label:first-of-type {
  border-radius: 10px 10px 0 0;
}
main .main form .form-content label:last-of-type {
  border-radius: 0 0 10px 10px;
}
main .main form .form-content label input + .content {
  padding: 0.5rem;
  display: block;
  cursor: pointer;
  transition: background-color 100ms;
}
main .main form .form-content label:has(input:checked + .content) {
  background-color: #6F2232;
}
main .main form .form-content label + label {
  border-top: 1px solid #fafafa;
}/*# sourceMappingURL=sign_up.css.map */