@use 'colors' as *;
@use 'components';
@use 'reset';
@use 'base'; 

main{
    font-family: 'Clash Display';
    padding-top: 2rem;
    display: grid;
    place-items: center;
    .img-container{
        border-radius: 10px;
        height:250px;
        aspect-ratio: 1;
        margin-bottom: 1rem;
        position: absolute;
        left: calc(50% - 125px);
        top: 8rem;
        animation: rise 1000ms ease-out;
        z-index: -1;
        display: grid;
        place-items: center;
        img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
    }
    @keyframes rise {
        from{
            opacity: 0;
            top: 250px;
        }
        to{
            opacity: 1;
            top: 8rem;
        }
    }
    .text{
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .1rem;
        h1{
            font-size: 4rem;
            margin-bottom: .5rem;
        }
        h2{
            font-size: 2.5rem;
            margin-top: 0;
        }
    }
}